<app-ventas-layout>
    <div *ngIf="venta" class="container" [@verticalExpand]>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>Detalle de venta</strong></h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                        <tr>
                          <td><strong>Producto</strong></td>
                          <td class="text-center"><strong>Precio original</strong></td>
                          <td class="text-center"><strong>Cupón</strong></td>
                          <td class="text-center"><strong>Precio aplicado</strong></td>
                          <td class="text-center"><strong>Cantidad</strong></td>
                          <td class="text-right"><strong>Totales</strong></td>
                        </tr>
                    </thead>
                    <tbody [@staggerFadeIn]="venta.Items.length">
                      <tr *ngFor="let itemVenta of venta.Items" [class]="{'invalid': !itemVenta.VentaExitosa }">
                        <td>{{itemVenta.ProductName}}</td>
                        <td class="text-center">{{itemVenta.PrecioVentaOriginal | currency }}</td>
                        <td class="text-center">{{itemVenta.NroCupon}} <span *ngIf="itemVenta.NroCupon && !itemVenta.CuponValido"> (inválido)</span><span *ngIf="itemVenta.NroCupon && itemVenta.CuponValido"> ({{itemVenta.PorcentajeDescuentoCupon}}% de descuento)</span></td>
                        <td class="text-center">{{itemVenta.PrecioVentaAplicado | currency }}</td>
                        <td class="text-center">{{itemVenta.Cantidad}}</td>
                        <td class="text-right">{{itemVenta.MontoTotal | currency }}</td>
                      </tr>
                      <tr>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Total</strong></td>
                        <td class="no-line text-right">{{venta.MontoTotal | currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <a href="/productos" class="btn btn-outline-info btn-sm">Continuar Comprando</a>
    <a class="btn btn-secundary" (click)="salir()">Salir</a>
</app-ventas-layout>
