<nav class="navbar navbar-dark bg-dark mb-5">  
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/monitorDescuentos" routerLinkActive="active">Descuentos</a>
        <a class="nav-item nav-link" routerLink="/monitorCupones" routerLinkActive="active">Cupones Aplicados</a>
        <a class="nav-item nav-link" routerLink="/monitorCasosArchivados" routerLinkActive="active">Casos Archivados</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link btn" (click)="logOut()">Salir</a>
    </div>
  </div>
</nav>