<app-monitor-layout>
  <div class="container" *ngIf="!descuentosVenta">
      <div class="col-12 col-sm-12 col-md-12 text-center">
          <h4 style="color: grey" >Recuperando ventas</h4>            
      </div>
      <div id="circle">
          <div class="loader">
          </div>
      </div> 
  </div>
  <div class="container" *ngIf="descuentosVenta && descuentosVenta.length === 0">
        <div class="col-12 col-sm-12 col-md-12 text-center">
            <h4 style="color: grey">No hay ventas registradas</h4>
        </div>
  </div>
  <div class="container" *ngIf="descuentosVenta && descuentosVenta.length > 0">
    <h2>Descuentos por venta</h2>
    <table class="table table-striped">
      <thead>
          <tr class="info">
              <th>Fecha</th>
              <th>Producto</th>
              <th>Descuento</th>
              <th>Ganancia</th>
          </tr>
      </thead>
      <tbody [@staggerFadeIn]="descuentosVenta.length">
        <tr *ngFor="let item of descuentosVenta">
            <!--first example-->
            <td>{{item.FechaVenta}}</td>
            <td>{{item.ProductName}}</td>
            <td>{{item.MontoDescuento | currency}}</td>
            <td>{{item.MontoGanancia | currency}}</td>
        </tr>
      </tbody>
    </table>
    <pagination [boundaryLinks]="true" [totalItems]="cantidadDescuentosVenta" [(ngModel)]="currentPage"
        [itemsPerPage]="itemsPorPagina" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" 
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
 </div>
</app-monitor-layout>