<app-monitor-layout>
  <div class="container" *ngIf="!descuentosVenta" [@verticalExpand]>
      <div class="col-12 col-sm-12 col-md-12 text-center">
          <h4 style="color: grey">Recuperando ventas</h4>            
      </div>
      <div id="circle">
          <div class="loader">
          </div>
      </div> 
  </div>
  <div class="container" *ngIf="descuentosVenta && descuentosVenta.length === 0" [@verticalExpand]>
        <div class="col-12 col-sm-12 col-md-12 text-center">
            <h4 style="color: grey">No hay ventas registradas</h4>
        </div>
  </div>
  <div class="container" *ngIf="descuentosVenta && descuentosVenta.length > 0" [@verticalExpand]>
    <h2>Descuentos por venta</h2>
    <table class="table table-striped">
      <thead>
          <tr class="info">
              <th>Fecha</th>
              <th>Producto</th>
              <th>Descuento</th>
              <th>Ganancia</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of descuentosVenta" [ngClass]="{'invalid': item.MontoGanancia < 0 }">
            <!--first example-->
            <td>{{item.FechaVenta}}</td>
            <td>{{item.ProductName}}</td>
            <td>{{item.MontoDescuento | currency}}</td>
            <td>{{item.MontoGanancia | currency}}</td>
        </tr>
      </tbody>
    </table>
    <pagination [boundaryLinks]="true" [totalItems]="cantidadDescuentosVenta" [(ngModel)]="paginaActual"
        [itemsPerPage]="itemsPorPagina" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" 
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
 </div>
</app-monitor-layout>