<nav class="navbar navbar-dark bg-dark mb-5">  
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/productos" routerLinkActive="active"
        [class.disabled]="cantNavigate ? true : null">Productos</a>
      <a class="nav-item nav-link" routerLink="/carrito" routerLinkActive="active"
        [class.disabled]="cantNavigate ? true : null">Carrito <span *ngIf="cantidadProductos > 0" class="badge badge-danger">{{cantidadProductos}}</span></a>
      <!-- <a class="nav-item nav-link" routerLink="/resumenVenta" routerLinkActive="active">Resumen de Venta</a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-shopping-cart"></i>
      </a> -->

      <a class="nav-item nav-link btn" (click)="logOut()">Salir</a>
    </div>
  </div>
</nav>